body {
  height: 100vh;
  background-image: url(./img/sunrise-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  color: var(--color);
}
:root {
  --logo-size: 10%;
  --font-size: 20px;
  --color: white;
  --padding-top: 5%;
}
/* logo and menu bar */
#header {
  display: flex;

  justify-content: space-between;
}
#header__logoBar {
  display: flex;
  align-items: center;
}
#header__logoBar img {
  width: var(--logo-size);
  height: calc(var(--logo-size) * 5);
}
.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__menu__item {
  padding: 0 5px;
}

/* main */
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: calc(var(--padding-top) * 0.5);
}
.profile span {
  padding-top: calc(var(--padding-top) * 0.5);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: var(--font-size);
  font-weight: 600;
}

.profile__avatar img {
  width: calc(var(--logo-size) * 2);
  height: calc(var(--logo-size) * 2);
  object-fit: cover;
  border-radius: 50%;
}
